body {
    font-family: 'Courier New', Courier, monospace, cursive;
    background-color: forestgreen;
    justify-content: center;
    align-content: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 3em;
    text-align: center;
}

table {
    margin-right: center;
    margin-left: center;
    margin: 0 auto;
}

.container {
    height: 200px;
    position: relative;
    text-align: center;
}

.spin-button {
    background-color: darkred;
    color: white;
    padding: 16px 25px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 8px;
    display: block;
    position: middle;
}

.icon {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
}