/*============
table of contents
1.global styles
2.layout
3.typography
===============*/


/*==============
1.global styles
===============*/

body {
    background-color: lavenderblush;
    font-family: 'Glory', sans-serif;
    font-weight: 200;
}


/*==============
2.layout
===============*/

header {
    font-family: 'Glory', sans-serif;
    font-size: 25pt;
    background-color: thistle;
    width: 100%;
    text-align: center;
}

.box-div {
    display: flex;
    justify-content: space-evenly;
}

footer {
    font-family: 'Glory', sans-serif;
    background-color: thistle;
    width: 100%;
    text-align: center;
}

.magic-box {
    background-color: moccasin;
}


/*==============
3.typography
===============*/

h1 {
    font-size: 80pt;
    background-color: thistle;
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-size: 25pt;
}

p,
ul {
    font-size: 20pt;
}