/*============
table of contents
1.global styles
2.styling
3.typography
===============*/


/*==============
1.global styles
===============*/

body {
    background-color: lavenderblush;
    font-family: 'Glory', sans-serif;
    font-weight: 200;
}


/*==============
2. styling
===============*/

header {
    font-family: 'Glory', sans-serif;
    font-size: 25pt;
    background-color: thistle;
    width: 100%;
    text-align: center;
}

.box-div {
    display: flex;
    justify-content: space-evenly;
}

.magic-box {
    background-color: moccasin;
}

#one-of-a-kind-box {
    background-color: powderblue;
    color: darkgreen;
    font-style: italic;
    font-family: fantasy;
}

footer {
    font-family: 'Glory', sans-serif;
    background-color: thistle;
    width: 100%;
    text-align: center;
}


/*==============
3.typography
===============*/

h1 {
    font-size: 80pt;
    background-color: thistle;
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

h1,
h2 {
    text-align: center;
}

h3 {
    font-size: 25pt;
}

h4 {
    font-size: 20pt;
}

p,
ul,
ol {
    font-size: 20pt;
}

#commitment-statement {
    font-size: 30pt;
    font-family: 'Amatic SC', cursive;
}

#disclaimer {
    font-size: 30pt;
    color: darkred;
    text-align: center;
}