body {
    background-color: lavenderblush;
    text-align: center;
    font-family: 'Glory', sans-serif;
    font-weight: 200;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

h1 {
    font-size: 80pt;
    background-color: thistle;
    margin-bottom: 0;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

h2 {
    font-size: 50pt;
}

h3 {
    font-size: 30pt;
}

p {
    font-size: 25pt;
}

.blog-block {
    display: inline;
}

.about-me {
    max-width: 960px;
}

.box-header {
    font-style: italic;
}

.header {
    width: 100%;
}

ul {
    font-family: 'Glory', sans-serif;
    font-size: 30pt;
    font-weight: 200;
}

footer {
    font-family: 'Glory', sans-serif;
    background-color: thistle;
    width: 100%;
    text-align: center;
}

#footer-link {
    font-family: 'Glory', sans-serif;
    background-color: thistle;
    width: 100%;
    text-align: center;
}